/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
h4,
h4,
h5,
h6,
p,
a,
input,
textarea {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Comienzo del Header y Nav */
.contenedor-grid {
    width: 100%;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(../img/index/universo-gif.gif);
    color: rgb(207, 185, 185);
    padding: 15px;
    justify-content: space-around;
    align-items: center;
    height: 100%;

}

/* Comienzo del Main */
h1 {
    text-align: center;
}

.container__carousel {
    margin: 30px auto;

    width: 400px;
    height: 300px;
}

.img-carousel {


    width: 400px;
    height: 300px;
}

.container_video {
    margin: 30px auto;

    width: 400px;
    height: 300px;
}

/* Comiendo del Footer */
.footer-contenedor {
    height: 100px;
}

footer {
    height: 100%;
    background-image: url(../img/index/universo-gif.gif);
}

.footer__h2 {
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin: 30px;
}

/* Seccion Revista */


.card {
    margin: 30px auto;
    width: 18rem;
}

.card-body {
    margin: 0px auto;
    text-align: center;
}

.producto-revista {
    border-radius: 20px;
    border: 2px solid;
    background-color: blue;
    color: white;
    font-size: 15px;
    padding: 7px;
    cursor: pointer;


}

.producto-revista:hover {
    color: blue;
    background-color: white;
    cursor: pointer;
}

/* Aplicando css al Carrito */
.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto {
    display: flex;
    justify-content: space-between;
    justify-content: baseline;
    margin: 20px;
    background-color: rgba(109, 101, 101, 0.623);
    color: rgba(48, 3, 42, 0.993);
    border-radius: 10px;
    align-items: center;
    padding: .5rem;
    padding-right: 1.5rem;
    cursor: default;
}

.card-img-top {
    height: 15rem;
}

.carrito-producto-imagen {

    width: 4rem;
    border-radius: 1rem;
}

.carrito-producto small {
    font-size: .85;
}

.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: rgb(141, 11, 11);
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar {
    border: 0;
    background-color: rgba(109, 101, 101, 0.623);
    ;
    padding: 1rem;
    border-radius: 1rem;
    color: rgba(48, 3, 42, 0.993);
    text-transform: uppercase;
    cursor: pointer;
    margin: 20px;
    font-weight: 700;
}

.carrito-acciones-derecha {
    display: flex;

}

.carrito-acciones-total {
    display: flex;
    border: 0;
    background-color: rgba(109, 101, 101, 0.623);
    padding: 1rem;
    border-radius: 1rem;
    color: rgba(48, 3, 42, 0.993);
    text-transform: uppercase;
    cursor: default;
    margin: 20px;

}

.carrito-acciones-comprar {
    border: 0;
    background-color: rgba(48, 3, 42, 0.993);
    padding: 1rem;
    border-radius: 1rem;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin: 20px;
    font-weight: 500;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.carrito-comprado {
    margin: 20px;
    color: rgba(48, 3, 42, 0.993);
    font-weight: 600;
}

.carrito-vacio {
    margin: 20px;
    color: rgba(48, 3, 42, 0.993);
    font-weight: 600;
}

.disabled {
    display: none;
}

.numerito {
    background-color: rgba(109, 101, 101, 0.623);
    color: rgba(48, 3, 42, 0.993);
    padding: .10rem;
    border-radius: .25rem;
}


/* Comienzo seccion libros */


.producto-libro {    border-radius: 20px;
    border: 2px solid;
    background-color: blue;
    color: white;
    font-size: 15px;
    padding: 7px;
    cursor: pointer;
}

.producto-libro:hover{    color: blue;
    background-color: white;
    cursor: pointer;
}

/* Comienzo seccion gorras */
.producto-gorra{    border-radius: 20px;
    border: 2px solid;
    background-color: blue;
    color: white;
    font-size: 15px;
    padding: 7px;
    cursor: pointer;
}

.producto-gorra:hover{    color: blue;
    background-color: white;
    cursor: pointer;
}

/* Comienzo seccion taza */

.producto-taza{    border-radius: 20px;
    border: 2px solid;
    background-color: blue;
    color: white;
    font-size: 15px;
    padding: 7px;
    cursor: pointer;
}

.producto-taza:hover{    color: blue;
    background-color: white;
    cursor: pointer;
}


.producto-encargar {    border-radius: 20px;
    border: 2px solid;
    background-color: blue;
    color: white;
    font-size: 15px;
    padding: 7px;
    cursor: pointer;
    margin-top: 5px;
}

.producto-encargar {    color: blue;
    background-color: white;
    cursor: pointer;
    margin-top: 10px;
}

